*,html,body{padding: 0px; margin: 0px;}

body{
	background-image: url(./img/иллюстрация-лимона-ткани-предпосылка-обои-ткань-безшовная-yellow-обоев-148818700.jpg);
}
 

.menu_top{
	display: flex;
	margin: 20px  auto 0px auto;
	width: 1180px;
	justify-content: space-between;
}
.menu {
	
	/* margin: auto; */
	
	height: 50px;

}

.menu ul{
	
	display: flex;
	flex-direction: row;
	
}

.menu ul li{

	display: flex;
	width: 100px;
}

.menu_top ul{

	list-style: none;
}
.menu_top ul li{

	list-style-type:none ;
}
	
.flex_cont {
	display: flex;
	margin: 160px auto;
	width: 1180px;
	
	
}
.flex_box {
	width: 570px;
	height: 540px;
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
.flex_box h1 {
	border-style: solid;
	border-width: 5px;
	border-color: black;
	background-image: url(./img/macro-oranges-texture-slices-wallpaper-preview.jpg );
	width: 570px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 60px;
}
.flex_box p {
	width: 570px;
	margin:45px 0px 45px 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 2;
	
}
.flex_box2{
	border-style: solid;
	border-width: 5px;
	display: flex;
    width: 487px;
	height: 540px;
	background-size: 488px 634px;
	background-image: url(./img/photo_2021-01-16_15-34-58.jpg);
	background-attachment: fixed;


}
.button{
	width: 180px;
	height: 50px ;
	background-color: #ffe100;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: medium;
	}