body {
    background-color: black;
}
h1 {
    color: aqua;
}
.div1 {
    color:burlywood;
}
.div2 {
    margin-right: 20px;
    color:burlywood;
}
.div3 {
    color:burlywood; 
}
.div4 {
    color:burlywood;
}
.div5 {
    color:burlywood;
}
.div6 {
    color:burlywood;
}
