*,html,body{padding: 0px; margin: 0px;}
header {
	height: 60px;
	background-color: #222;
	position: fixed;
	top: 0px;
	width: 100%;
	opacity: 99%;
}
.menu_top {
	width: 1100px;
	height: 60px;
	background-color: #222;
	margin-left: 500px;
}
.menu_top ul{
	list-style-type: none;
}
.menu_top ul li{
	float: left;
}
.menu_top ul li a{
	color: #CCC;
	text-decoration: none;
	font-family: Arial;
	font-size: 25px;
	display: block;
	width: 180px;
	height: 45px;
	text-align: center;
	background-color: #222;
	padding-top: 15px;

}

.menu_top ul li a:hover{
color: #FFF;
background-color: #333;

}

.logo {
	width: 130px;
	height: 55px;
	background-color: #9b111e;
	padding-top: 5px;
	padding-left: 20px;
	float: left;
	
}
